html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $mainFont;
    color: $primaryColor;
    background-color: $bgColor; 
    line-height: 1.6;
}

.wrapper {
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Stripping Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
    text-decoration: none;
} 

/* Typographic Styles */
h1 {
    font-family: $logoFont;
    color: $secondaryColor;
    font-size: 8rem;
    line-height: 1.2;
}

h2 {
    font-size: 4rem;
    color: $bgColor;
    line-height: 1.2;
}

